#![enable(implicit_some)]
(
border_width: 2,
margin: [4, 4],
default_border_color: "#0B0C0B",
floating_border_color: "#AB9991",
focused_border_color: "#dfc6b8",
col1: "#9C7156",
col2: "#AE856D",
col3: "#C6855B",
col4: "#CD9370",
col5: "#817F80",
col6: "#AB9991",
col7: "#dfc6b8",
col8: "#9c8a80",
col9: "#9C7156",
col10: "#AE856D",
col11: "#C6855B",
col12: "#CD9370",
col13: "#817F80",
col14: "#AB9991",
col15: "#dfc6b8",
background: "#0B0C0B",
foreground: "#dfc6b8"
)
